# Hamming Distance

Data Cleaning

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./sec__edgar_company_info.csv")

df.head()

   Line Number                        Company Name  Company CIK Key
0            1                              !J INC          1438823
1            2       #1 A LIFESAFER HOLDINGS, INC.          1509607
2            3  #1 ARIZONA DISCOUNT PROPERTIES LLC          1457512
3            4                   #1 PAINTBALL CORP          1433777
4            5                               $ LLC          1427189

In [3]:
company_name = df["Company Name"]

In [4]:
company_name = company_name.str.strip()
company_name

0                                     !J INC
1              #1 A LIFESAFER HOLDINGS, INC.
2         #1 ARIZONA DISCOUNT PROPERTIES LLC
3                          #1 PAINTBALL CORP
4                                      $ LLC
                         ...
662995                         ZZ GLOBAL LLC
662996              ZZIF 2008 INVESTMENT LLC
662997      ZZLL INFORMATION TECHNOLOGY, INC
662998                              ZZX, LLC
662999                 ZZYZX ZZAZX ZZOZX INC
Name: Company Name, Length: 663000, dtype: object

In [5]:
company_name = company_name.str.lower()
company_name

0                                     !j inc
1              #1 a lifesafer holdings, inc.
2         #1 arizona discount properties llc
3                          #1 paintball corp
4                                      $ llc
                         ...
662995                         zz global llc
662996              zzif 2008 investment llc
662997      zzll information technology, inc
662998                              zzx, llc
662999                 zzyzx zzazx zzozx inc
Name: Company Name, Length: 663000, dtype: object

In [6]:
company_name = company_name.str.replace("#","").replace(".","").replace("$","")
company_name

0                                    !j inc
1              1 a lifesafer holdings, inc.
2         1 arizona discount properties llc
3                          1 paintball corp
4                                     $ llc
                        ...
662995                        zz global llc
662996             zzif 2008 investment llc
662997     zzll information technology, inc
662998                             zzx, llc
662999                zzyzx zzazx zzozx inc
Name: Company Name, Length: 663000, dtype: object

In [7]:
import re

In [8]:
company_name = company_name.apply(lambda x:re.sub('[!|?/\+-<>"@~%^&*()_.,$]','',x))
company_name

0                                    j inc
1                 a lifesafer holdings inc
2          arizona discount properties llc
3                           paintball corp
4                                      llc
                        ...
662995                       zz global llc
662996                zzif  investment llc
662997     zzll information technology inc
662998                             zzx llc
662999               zzyzx zzazx zzozx inc
Name: Company Name, Length: 663000, dtype: object

In [9]:
print(type(company_name))

<class 'pandas.core.series.Series'>

In [10]:
pattern = r'[0123456789]'
company_name = company_name.apply(lambda x:re.sub(pattern,'',x))
company_name

0                                    j inc
1                 a lifesafer holdings inc
2          arizona discount properties llc
3                           paintball corp
4                                      llc
                        ...
662995                       zz global llc
662996                zzif  investment llc
662997     zzll information technology inc
662998                             zzx llc
662999               zzyzx zzazx zzozx inc
Name: Company Name, Length: 663000, dtype: object

In [11]:
df["Company Name"] = company_name

df.head()

   Line Number                      Company Name  Company CIK Key
0            1                             j inc          1438823
1            2          a lifesafer holdings inc          1509607
2            3   arizona discount properties llc          1457512
3            4                    paintball corp          1433777
4            5                               llc          1427189

Search Engine

In [12]:
def hamming_distance(str1 , str2):
    search_keyword_len = len(str1)
    dataset_word_len = len(str2)
    min_len = min(search_keyword_len,dataset_word_len)

    distance = 0
    for i in range(min_len - 1):
        if str1[i] != str2[i]:
            distance +=1

    distance += abs(search_keyword_len - dataset_word_len)

    return distance

In [13]:
def finde_similar_keyword(df, column_name, search_keyword):
    similarities = []
    for dataset_string in df[column_name]:
        similarity =  hamming_distance(search_keyword, dataset_string)
        similarities.append((dataset_string, similarity))

    similarities.sort(key= lambda x: x[1])

    return similarities

Example

In [15]:
search_keyword = "j inc"

similarities = finde_similar_keyword(df=df,column_name="Company Name",search_keyword=search_keyword)


for string, similarty in similarities:
    if similarty == 0:  # 0 Mean Identical Strings
        print(f'String: {string}, Similarty: {similarty}')
        similarities[20]

String: j inc, Similarty: 0